* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.header, .footer {
    padding: 16px 120px;
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
}

.header ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 20px;
}

.footer {
    color: #E5E7EB;
    font-size: 12px;
    justify-content: center;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.section-one, .section-two, .section-three, .section-four {
    padding: 80px 120px;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.section-one {
    background-color: #1F2937;
    justify-content: space-between;
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    height: 250px;
    align-items: start;
    justify-content: space-evenly;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    line-height: 40px;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    padding: 6px 0;
    border-radius: 4px;
    border: none;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bolder;
    height: 28px;
    width: 97px;
    flex-shrink: 0;
}

button a {
    height: 28px;
    width: 97px;

}

.img {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: grey;
    max-width: 450px;
    height: 250px;
}

.section-two {
    flex-direction: column;
    text-align: center;
}

.section-two h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-bottom: 24px;
    margin-top: -40px;
}
.frames {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
}

.frame {
    flex: 1;
    max-width: 156px;
}

.frame div {
    height: 150px;
    width: 150px;
    border-radius: 16px;
    border: 3px solid #3882F6;
    margin-bottom: 10px;
}

.section-three {
    flex-direction: column;
    background-color: #E5E7EB;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
    max-width: 790px;
}

.quote-author {
    max-width: 790px;
    width: 100%;
    text-align: right;
    font-weight: 600;
}

.modal {
    background-color: #3882F6;
    padding: 30px 110px;
    border-radius: 8px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
}

.action {
    font-size: 24px;
    font-weight: bolder;
    color: #F9FAF8;
}

.action-sub {
    font-size: 16px;
    font-weight: 300;
    color: #E5E7EB;
}

.modal button {
    border: 1px solid #E5E7EB;
}