* {
    padding: 0;
    margin: 0;
    font-family: "Roboto Light", sans-serif;
}

body {
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.header, .footer {
    padding: 16px 0;
    background-color: #1F2937;
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-around;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bolder;
    width: 450px;
}

.header ul {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    list-style: none;
    width: 450px;
}

.footer {
    color: #E5E7EB;
    font-size: 12px;
    justify-content: center;
}

a {
    color: #E5E7EB;
    text-decoration: none;
}

.section-one, .section-two, .section-three, .section-four {
    display: flex;
    flex: 1;
}

.section-one {
    padding: 80px 0;
    background-color: #1F2937;
    justify-content: space-around;
    align-items: center;
}

.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 450px;
    height: 250px;
    align-items: start;
    justify-content: space-around;
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    line-height: 40px;
}

.hero-text p {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: lighter;
}

button {
    padding: 6px 0;
    border-radius: 4px;
    border: none;
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bolder;
}

button a {
    padding: 6px 26px;
}

.img {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: grey;
    max-width: 450px;
    height: 250px;
}

.section-two {
    display: flex;
    padding: 30px 0;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.section-two h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-bottom: 24px;
}
.frames {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 40px;
}

.frame {
    flex: 1;
    max-width: 156px;
}

.frame div {
    height: 150px;
    width: 150px;
    border-radius: 16px;
    border: 3px solid #3882F6;
    margin-bottom: 10px;
}